#container{
	margin:25px;
	text-align:center;
	padding:25px;
}

nav{
	padding-bottom: 20px;
}

#menu input[type=button]{
	padding: 25px;
	width: 200px;
}

#about{
	font-size:70px;
}

img{
	width: 80%;
	height: 80%;
	padding-bottom: 25px;
}